<head>
	<link rel="stylesheet" href="/css/error.css">
</head>

<h1>error while validating otp</h1>
<p>please try regenerating your otp.</p>
<form action="/otp" method="post">
				<section>
					<label for="otp">email</label>
					<input id="email" name="email" type="text" required autofocus value=<%= data.secretEmail %> >
				</section>
				<button type="submit">Regnerate otp</button>
           
			</form>
