<head>
	<link rel="stylesheet" href="/css/login.css">
</head>


<form action="/login" method="post">
				<section>
					<label for="otp">enter your copied otp</label>
					<input id="otp" name="otp" type="text" required autofocus placeholder="otp"  pattern="^\S+$">
				</section>
				<section>
               <button type="submit">verify otp</button>
				</section> 
			</form>
